/* CSS Document */
.lefton {
        background-image:url("imagenes/tabs-left-on.gif");
        background-repeat: no-repeat;
}
.leftoff {
        background-image:url("imagenes/tabs-left-off.gif");
        background-repeat: no-repeat;
}
.middleoffonleft {
        background-image:url("imagenes/tabs-middle-off-onleft.gif");
        background-repeat: no-repeat;
}
.middleoff {
        background-image:url("imagenes/tabs-middle-off.gif");
        background-repeat: no-repeat;
}
.middleon {
        background-image:url("imagenes/tabs-middle-on.gif");
        background-repeat: no-repeat;
}
.rightoff {
        background-image:url("imagenes/tabs-right-off.gif");
        background-repeat: no-repeat;
}
.righton {
        background-image:url("imagenes/tabs-right-on.gif");
        background-repeat: no-repeat;
}
.subnav {
        background-image:url("imagenes/DGAT_r4_c1.gif");
}
